/* Reset y reglas generales */
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #DDD0C8;
}

h2,
h3,
h4,
p,
span,
a,
em {
    font-family: sans-serif;
}

/* Header */


.header__logo {
    max-width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 3;
}

.principal h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.header__nav-list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.header__nav {
    width: 100%;
}

.divProductos .imgProducto img {
    max-width: 100%;
}

footer .divTrabajaConNosotros a {
    color: #DDD0C8;
    text-decoration: none;
    font-family: sans-serif;
}

footer .divContacto,
footer .divTrabajaConNosotros {
    text-align: center;
}

.header__nav-list .header__nav-item a {
    color: #DDD0C8 !important;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    margin-top: 105px;
}

.header__checkbox:checked~.header__nav {
    display: block;
}

.header__checkbox {
    display: none;
}

.header__checkbox:checked ~ .header__nav ul {
    position: absolute;
    right: 0;
    top: 106px;
    background-color: black;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

/* Contenedor principal */
.container.heroHome {
    display: flex;
    width: 100%;
    max-width: 1710px;
    margin: 20px auto 45px;
    padding: 0 15px;
    height: auto;
    column-gap: 15px;
}

.slideMarcas .marcas {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 1s ease;
    overflow: hidden;
    gap: 50px;
    background-color: black;
}

.slideMarcas .marcas>div {
    display: flex;
    animation: scrollText 50s infinite linear !important;
    padding: 20px;
}

.slideMarcas .marcas>div img:hover {
    transform: rotateY(180deg);
}

.slideMarcas .marcas>div img {
    border-radius: 16px;
    transition: transform 0.4s;
}

@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.divProductos {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.divProductos .imgProducto img {
    border-radius: 16px;
}

.divProductos .detallesProducto>div {
    font-size: 45px;
    padding: 10px;
    font-family: sans-serif;
}

.divProductos .detallesProducto>div:hover {
    cursor: pointer;
}

.divProductos .detallesProducto>div:first-child:hover {
    color: red;
}

.divProductos .detallesProducto>div:last-child:hover {
    color: blue;
}

.divProductos .detallesProducto>div:nth-child(3):hover {
    color: yellow;
}

.divProductos .detallesProducto>div:nth-child(2):hover {
    color: green;
}

/* Footer */

footer {
    background: #000;
    color: #DDD0C8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Columnas */
.column-left,
.column-right {
    flex: 1;
    padding: 0;
    display: flex;
    gap: 15px;
}

.column-right {
    flex-direction: column;
}

/* Bloques generales */
.block {
    flex: 1;
    border-radius: 16px;
    position: relative;
}

.column-left .block,
.column-left .block.campaign,
.column-right .block {
    background-size: cover;
    border-radius: 16px;
}

/* Textos y estructura dentro de los bloques */
.column-left .block .blockText,
.column-right .blockText {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}

.column-left .block h2,
.column-right .block h2 {
    font-size: 50px;
    width: 80%;
    margin: 0 10% 0 0;
    text-align: left;
    color: black;
}

.column-left .block p,
.column-right .block p {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    margin: 0;
    text-align: left;
    color: black;
}

.column-left .block a,
.column-right .block a {
    width: auto;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 16px 64px;
    border-radius: 8px;
    display: block;
    font-size: 18px;
}

/* Animación de entrada de los bloques */
.column-left .block {
    position: relative;
    transform: translateX(-100%);
    animation: entranceLeft 1.15s forwards;
    box-shadow: 2px 1px 20px -9px rgba(0, 0, 0, 0.75);
}

.column-right .block.up,
.column-right .block.down {
    position: relative;
    transform: translateX(100%);
    box-shadow: 2px 1px 20px -9px rgba(0, 0, 0, 0.75);
}

.column-right .block.up {
    animation: entranceRightUp 1.25s forwards;
}

.column-right .block.down {
    animation: entranceRightDown 1.75s forwards;
}

/* Efecto hover en bloques */
.container.heroHome .block {
    position: relative;
    overflow: hidden;
}

.container.heroHome .block::before {
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

.container.heroHome .block:hover::before {
    animation: shine 1s;
}

/* Imágenes */
.imgtextLeft,
.imgtextRight,
.imgFullHeight {
    background: center center no-repeat;
    background-size: cover;
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Bloque superior derecho */
.column-right .block.up {
    background-color: white;
    padding: 0 50px;
    margin-bottom: 0;
}

/* Bloque inferior derecho */
.column-right .block.down {
    padding: 0 50px;
    margin-bottom: 0;
}

/* Alineaciones específicas */
.column-right .block.down .blockText {
    align-items: flex-end;
}

.column-right .block.down .blockText p {
    text-align: right;
}

/*
newsletter
*/

.newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("bckgr.webp");
}

.newsletter form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.newsletter form #emailNewsletter {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 6px 0 6px 0;
}

.newsletter form input:last-child {
    background-color: black;
    color: #DDD0C8;
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 6px 0 6px 0;
}


.newsletter form input:last-child:hover {
    color: black;
    background-color: #DDD0C8;
    cursor: pointer;
}


@media (max-width: 670px) {
    .column-left .block .blockText {
        padding: 25px;
    }

    .column-left .block h2 {
        font-size: 32px;
        padding-left: 85px;
    }

    .column-left .block p {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 799px) {
    .column-right {
        flex-direction: column;
    }

    .container.heroHome {
        height: auto;
    }

    .column-right .blockText {
        padding: 25px 0;
    }

    .column-left .block .blockText {
        aspect-ratio: 1/1;
    }
}

@media (max-width: 991px) {
    .container.heroHome {
        display: block;
    }

    .column-left,
    .column-right {
        width: 100%;
    }

    .column-right {
        flex-direction: row;
    }

    .column-left .block .blockText {
        position: relative;
        padding: 50px;
    }

    .column-left {
        padding: 20px 0 10px;
    }

    .column-right {
        padding: 10px 0 20px;
    }

    .column-right .blockText {
        padding: 50px 0;
    }

    .column-right .block.up,
    .column-right .block.down {
        padding: 0 25px;
    }

    .column-left .block h2 {
        width: 100%;
        padding-left: 110px;
    }
}

@media (max-width: 1100px) and (min-width: 992px) {
    .column-left .block h2 {
        font-size: 35px;
    }
}

@media (max-height: 1000px) {
    .container.heroHome {
        height: auto;
    }
}

@media (max-width: 991px) and (max-height: 1000px) {
    .column.main .container.heroHome {
        height: auto;
    }
}

/* Media Queries (de menor a mayor resolución) */
@media (max-width: 767px) {
    .column-left .block h2 {
        padding-left: 0;
    }

    .column-left .block .blockText .brand {
        position: static;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .divContacto {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    footer .divTrabajaConNosotros {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    footer .divTrabajaConNosotros a:hover {
        cursor: pointer;
    }

    .divProductos {
        flex-direction: column;
    }

    .divProductos .detallesProducto {
        text-align: center;
    }

    .header__nav {
        display: none;
    }

    .header__nav.mobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .bi.bi-three-dots-vertical {
        font-size: 35px;
        color: white;
    }

    .header__nav {
        width: initial !important;
    }
}